/****************************************************/
/* VALUES */
/****************************************************/

/* 

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


Color: #1B4332;
font color:#494949;; */

/****************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  color: #494949;
  line-height: 1.4;
  font-family: "Inter", sans-serif;
}

/****************************************************/
/* NAVIGATION */
/****************************************************/

.main-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.4rem;
  padding: 0 4.8rem;
}

.nav-bar {
  background-color: #1b4332;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}

.nav-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  color: #fff;
  cursor: pointer;
}

.btn {
  border: none;
  display: flex;
  align-items: center;
  background-color: #1b4332;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 0 0.8rem;
  border-radius: 6px;
  text-decoration: none;
}
.btn:link,
.btn:visited {
  background-color: #1b4332;
  color: #fff;
}

.btn:hover,
.btn:active {
  background-color: #163628;
}

.btn > span {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 0.2rem;
}

.git-logo {
  width: 2.4rem;
  height: 2.4rem;
  fill: #fff;
}

/****************************************************/
/* HEADER */
/****************************************************/

header {
  height: 4.8rem;
  background-color: #1b4332;
}

/****************************************************/
/* HERO SECTION */
/****************************************************/

.section-hero {
  background-color: #1b4332;
  padding: 3.8rem 0 3.6rem 0;
}

.section-main {
  max-width: 1300px;
  margin: 0 auto;
}

.heading-primary {
  color: #fff;
  font-size: 3.6rem;
  text-align: center;

  line-height: 1.05;
  letter-spacing: -0.5px;
  padding-top: 3.2rem;
  padding-bottom: 1.2rem;
}

.heading-secondary {
  color: #494949;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  padding-bottom: 2.2rem;
  padding-top: 5.2rem;
  padding-left: 0;
}

.primary-info {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  padding-bottom: 3.2rem;
}

.btn-start {
  display: flex;
  justify-content: center;
}
.hero-btn {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: #2b2b2b;
  background-color: #fff;
  padding: 0.6rem 1.2rem;
  margin-bottom: 2.4rem;
  border-radius: 6px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}

.section-main-grid {
  display: grid;
  gap: 3.2rem;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-items: center; */
}

.section-main-grid-box {
  background-color: #ceb2b2;
  font-size: 1.8rem;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  /* padding: 1.2rem; */

  border-radius: 10px;
  cursor: pointer;
}

.section-main-img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
}

.section-main-txt {
    text-align: center;
}
